@mixin fontStyle {
  font-size: 1em;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0.01em;
}

$border-color: #ececec;
$border-size: 1px;

$padding: 10px;
$font-size: 14px;

revo-dropdown {
  @include fontStyle;

  display: inline-flex;
  flex-direction: column;
  vertical-align: top;

  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;

  .rv-dr-root {
    padding: 5px 9px;
    padding-right: 35px;
    flex-wrap: wrap;
    position: relative;
    border-radius: 4px;

    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
  }

  input.filter-box {
    padding-left: 6px;
    padding: 9.5px 4px;
    width: 0;
    min-width: 30px;
    flex-grow: 1;
    text-overflow: ellipsis;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    background: none;
    box-sizing: content-box;
    letter-spacing: inherit;
    animation-duration: 10ms;

    &:focus {
      outline: none;
    }
  }

  .actions {
    right: 9px;
    top: calc(50% - $font-size);
    position: absolute;
  }

  label {
    $time: 200ms;
    font-size: 1rem;
    z-index: 100;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    transform-origin: top left;
    line-height: 1;
    transition: color $time cubic-bezier(0, 0, 0.2, 1) 0ms, transform $time cubic-bezier(0, 0, 0.2, 1) 0ms;
    transform: translate($font-size, $font-size) scale(1);
    pointer-events: none;
  }

  fieldset {
    border-color: $border-color;
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0 8px;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    border-style: solid;
    border-width: $border-size;
    border-radius: inherit;
    pointer-events: none;

    legend {
      width: auto;
      height: 11px;
      display: block;
      padding: 0;
      font-size: 0.75em;
      max-width: 0.01px;
      text-align: left;
      transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      visibility: hidden;

      > span {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  &.shrink {
    label {
      transform: translate($font-size, -6px) scale(0.75);
    }

    legend {
      max-width: 1000px;
      transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
    }
  }

  .arrow {
    width: 9px;
    margin-top: 5px;
    margin-left: 5px;
    opacity: 0.4;
  }

  .arrow-wrapper {
    width: 15px;
    text-align: center;
  }

  &.active {
    $bg: #0089ff;

    label {
      color: $bg;
    }
    fieldset {
      border-color: $bg;
    }
  }
}

.revo-dropdown-list {
  @include fontStyle;

  position: absolute;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 160ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  z-index: 999;
  display: none;
  opacity: 0;

  &.top .dropdown-inner {
    bottom: 2px;
    flex-direction: column-reverse;

    .filter-box {
      margin-bottom: 0;
    }
  }

  &:not(.top) .dropdown-inner {
    top: 2px;
    flex-direction: column;

    .filter-box {
      margin-top: 0;
    }
  }

  .dropdown-inner {
    display: flex;
    max-height: 100%;
    position: absolute;

    padding: 8px 0;
    box-sizing: border-box;

    min-height: 16px;
    min-width: 16px;

    box-shadow: 0 0 14px 0 rgba(53, 64, 82, 0.05);
    border: 1px solid rgb(0 0 0 / 5%);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    overflow: hidden;
    background-color: #fff;

    .filter-box {
      border: 1px solid $border-color;
      min-height: 30px;
      line-height: 30px;
      margin: 10px;
      border-radius: 6px;

      &:focus {
        outline: none;
        border-color: #0089ff;
      }
    }
  }
}
