$hv-color: rgba(black, .04);
revo-list {
  overflow-x: hidden;
	overflow-y: auto;
	max-height: 100%;
	display: block;
	
	ul {
			margin: 0;
			padding: 0;
			outline: 0;
			list-style: none;
		}
	
		ul > li {
			width: auto;
			overflow: hidden;
			font-size: 14px;
			box-sizing: border-box;
			min-height: 48px;
			font-weight: 400;
			line-height: 1.5;
			padding-top: 6px;
			white-space: nowrap;
			padding-bottom: 6px;
			padding-left: 16px;
			padding-right: 16px;
			display: flex;
			position: relative;
			text-align: left;
			align-items: center;
			justify-content: flex-start;
			text-decoration: none;
			cursor: pointer;

			&.selected {
				background-color: $hv-color;
			}

			&:hover {
				background-color: $hv-color;
			}
		}
}
